<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Captured Data</h1>
    <input type="text" name="" id="search" onkeyup="searchlogs()" placeholder="search logs..."></input>
    {% for category, entries in logs.items() %}
        <h2>{{ category | capitalize}} ({{ entries | length}})</h2>
        <ul>
            {% for timestamp, device, data in entries %}
                <li><strong>[{{timestamp}}] {device}</strong> {{data}}</li>
            {% endfor%}
        </ul>
    {% endfor %}

    <script>
        function searchlogs() {
            let input = document.getElementById("search").value.toLowerCase()
            let items = document.querySelectorAll("ul li");
            items.forEach(item => {
                items.style.display = item.innerText.toLowerCase().include(input) ? "" : "none"
            })
        }
    </script>
</body>
</html>